{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }} - update{% endblock %}

{% block body %}
    <div class="example-wrapper" style="margin: 50px;">
        {{ form(form) }}
    </div>
{% endblock %}